<div class="col-md-5  p-lg-4 mx-auto my-4">
  <h1 class="aboutSubscription">Subscription</h1>
</div>

<div class="aboutSubscriptionText">
  <h2>О проекте</h2>
  <p>Привет! Рады видеть вас на Subscription — онлайн-сервисе для покупки подписок.</p>
  <p>На Subscription вы найдете большое количесвто подписок по таким категориям как:
  <ul>
    <li>App</li>
    <li>Films</li>
    <li>Games</li>
    <li>Music</li>
    <li>Sites</li>
  </ul>
  <p>Так же вы можете купить подписку у интересующей вас организации.</p>
  <p>Список организаций постоянно обновляется и растёт, так что не упусти момент выбрать себе продукт :)
  </p>
</div>
