


<div class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col"><button class="btn btn-outline-primary my-2 my-sn-0 btn-lg btn-block">Films</button></div>
      <div class="col"><button class="btn btn-outline-primary my-2 my-sn-0 btn-lg btn-block">App</button></div>
      <div class="col"><button class="btn btn-outline-primary my-2 my-sn-0 btn-lg btn-block">Games</button></div>
      <div class="col"><button class="btn btn-outline-primary my-2 my-sn-0 btn-lg btn-block">Sites</button></div>
      <div class="col"><button class="btn btn-outline-primary my-2 my-sn-0 btn-lg btn-block">Music</button></div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Authorization</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form>
            <div class="form-froup m-2">
              <label for="exampleInputEmail">E-mail addres*</label>
              <input type="E-mail" name="form-control" id="exampleInputEmail" aria-describdby="emailHelp" placeholder="test@gmail.com" class="p-2">

            </div>
            <div class="form-froup m-2">
              <label for="exampleInputPass">Password*</label>
              <input type="Password" name="form-control" id="exampleInputPass" placeholder="Password" class="p-2">
              <small id="passwordHelp" class="form-text text-muted">Password must be at least 8 characters</small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<demo-carousel-basic></demo-carousel-basic>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

