<demo-carousel-basic></demo-carousel-basic>
<!--<app-about></app-about>-->
<div class="container-fluid mt-3">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <img src="assets\img\scs.png" alt="" class="w-50">
        <h3>Customer</h3>
        <p>Are you Customer? Then you can choose any subscription and we will help you buy it.</p>
      </div>
<!--      <div class="col"></div>-->
      <div class="col">
        <img src="assets\img\scs.png" alt="" class="w-50">
        <h3>Organisation</h3>
        <p>Are you Organisation? Register on our website. Upload your subscriptions. Make money selling them!</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5" style="background-color: #eeeeee">
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\app.jpeg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">App</h4>
            <p class="card-text">There are favorite applications, but no additions to them? In this category you can find your application and buy a subscription to it.</p>
            <a href="#" class="btn btn-outline-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\film.png" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title" >Films</h4>
            <p class="card-text">Are you a movie fan, but your favorite movie isn’t online? In this category you can choose any movie you like and buy a subscription to it.</p>
            <a href="#" class="btn btn-outline-primary" routerLink="/films">Go</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\game.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Games</h4>
            <p class="card-text">Want to find rare additions to your game? In this category you can find your game and buy an additional subscription to it.</p>
            <a href="#" class="btn btn-outline-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\music.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Music</h4>
            <p class="card-text">Subscription ended in Yandex or Apple music, well, or is there a song you like, but is it paid? In this category you can renew or buy a new subscription to it.</p>
            <a href="#" class="btn btn-outline-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\site.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">Sites</h4>
            <p class="card-text">There are favorite sites, but are they paid? In this category you can buy a subscription to any site with any age restrictions.</p>
            <a href="#" class="btn btn-outline-primary">Go</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

