
<div class="container">
  <form>
    <div class="container-fluid mt-5" style="background-color: lavender">
      <div class="container p-5">
        <div class="row justify-content-center">
          <div class="col col-lg-4" >
<!--            *ngFor="let choice of customer"-->
            <div class="card text-center mt-5">
<!--              <img src={{choice.img}} alt="" class="card-img-top">-->
              <div class="card-body" >
                <h1 class="card-title pricing-card-title" >
                  Profile
<!--                  ${{choice.monthPrise}}-->
<!--                  <small class="text-muted">/ mo</small>-->
                </h1>
                <h4 class="card-title">
                  {{customer.name}}
                </h4>
                <p class="card-text"> email:
                  {{customer.eMail}}
                </p>
                <p class="card-text">balance:
                  {{customer.linkOfSite}}
                </p>
                <p class="card-text">wallet status:
                  {{customer.phone}}
                </p>
                <p class="card-text">balance:
                  {{customer.balance}}
                </p>
                <p class="card-text">wallet status:
                  {{customer.walletStatus}}
                </p>
<!--                <button class="btn btn-outline-primary" (click)="openModal(template)">Replenish balance</button>-->

<!--                <ng-template #template>-->
<!--                  <div class="modal-header">-->
<!--                    <h4 class="modal-title pull-left">Replenish balance</h4>-->
<!--                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">-->
<!--                      <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                  <div class="modal-body">-->
<!--                    Enter the desired amount.-->

<!--                    <label for="inputBalance" class="sr-only">input new Balance</label>-->
<!--                    <input id="inputBalance" class="form-control" placeholder="new balance" required autofocus [(ngModel)]="newBalance" name="newBalance">-->

<!--                    <button class="btn btn-outline-primary" (click)="replenishBalance()" routerLink="/profile">Add</button>-->
<!--                  </div>-->

<!--                </ng-template>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<!--<app-footer></app-footer>-->

