<div class="pricing-header px-3 py-3 pt-md-5 p-md-4 mx-auto text-center">
  <h1 class="display-4">Films</h1>
  <p class="lead">
    "
    Various film subscriptions are provided here.
    You can find a movie that you like and buy a subscription to it."
  </p>
</div>

<div class="container-fluid mt-5" style="background-color: #eeeeee">
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\films\1.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $15
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Cinderella</h4>
            <p class="card-text">
              A new adaptation of the plot appeared in 2015
              thanks to the work of American filmmakers.
              The Walt Disney film company continues to develop
              children's fairy tales and will now show the audience
              the film Cinderella, created based on the fairy tale
              by Charles Perrault. The director of the tape was
              Kenneth Branagh, and Chris Weitz adapted the script
              for the modern viewer. Fantastic drama tells about a
              simple girl in whose life a miracle happened.
            </p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\films\2.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $30
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">It</h4>
            <p class="card-text">
              A long time ago, mysterious disappearances and murders
              of small children began to happen in a provincial American
              town. Neither the residents of the town, nor the police,
              were able to find a cruel kidnapper. Only seven teenagers,
              best friends, know who in fact is the embodiment of absolute
              evil, which brings fear to all local residents. And now,
              after almost 30 years, the killer returns ...
            </p>
            <a href="#" class="btn btn-outline-primary" routerLink="/films">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\films\3.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $10
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Frozen</h4>
            <p class="card-text">Want to find rare additions to your game? In this category you can find your game and buy an additional subscription to it.</p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\films\4.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $9
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Dictator</h4>
            <p class="card-text">Subscription ended in Yandex or Apple music, well, or is there a song you like, but is it paid? In this category you can renew or buy a new subscription to it.</p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\films\5.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $25
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">100 things and nothing more</h4>
            <p class="card-text">There are favorite sites, but are they paid? In this category you can buy a subscription to any site with any age restrictions.</p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\films\6.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $20
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Maleficent</h4>
            <p class="card-text">There are favorite sites, but are they paid? In this category you can buy a subscription to any site with any age restrictions.</p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
