<div class="col-md-5  p-lg-4 mx-auto my-4">
  <h1 class="aboutSubscription">Subscription</h1>
</div>

<div class="col">
  <div class="row">
<div class="aboutSubscriptionText">
  <h2>About project</h2>
  <p>Hello! Glad to see you on Subscription - an online service for buying subscriptions.</p>
  <p>On Subscription you will find a large number of subscriptions in categories such as:
  <ul>
    <li>App</li>
    <li>Films</li>
    <li>Games</li>
    <li>Music</li>
    <li>Sites</li>
  </ul>
  <p>You can also buy a subscription from the organization you are interested in.</p>
  <p>The list of organizations is constantly updated and growing, so don't miss the moment to choose a product :)
  </p>
</div>
    <div class="row">
      <img src="assets\logo_footer.png" >
    </div>
</div>
</div>

