<div class="pricing-header px-3 py-3 pt-md-5 p-md-4 mx-auto text-center">
  <h1 class="display-4">App</h1>
  <p class="lead">
    "
    Various app subscriptions are provided here.
    You can find an application that you like and buy a subscription to it."
  </p>
</div>

<div class="container-fluid mt-5" style="background-color: #eeeeee">
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\app\1.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $15
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Instagram</h4>
            <p class="card-text">
              Instagram is an application for sharing photos and
              videos with elements of a social network that allows
              you to take photos and videos, apply filters to them,
              and distribute them through your service and a number
              of other social networks.
            </p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\app\2.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $30
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Wattpad</h4>
            <p class="card-text">
              Wattpad is an online community for writers and readers
              in which users can post articles, stories, fanfiction,
              poems, and novels online or through the Wattpad app.
              In addition to the permanent archive of the Internet library,
              new works are regularly added.
            </p>
            <a href="#" class="btn btn-outline-primary" routerLink="/films">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\app\6.png" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $10
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Snapchat</h4>
            <p class="card-text">
              Snapchat is a mobile messaging app with attached photos
              and videos. Created by Evan Spiegel, Bobby Murphy and
              Reggie Brown while studying at Stanford University.

              One of Snapchat’s main concepts is that the transmitted
              images and messages are only available to the recipient for
              a short time.
            </p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\app\4.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $9
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">SoloLearn</h4>
            <p class="card-text">
              The prime minister of a rich African country rules, as befits an
              absolute tyrant. It comes to the point that he begins to develop
              a nuclear program, supposedly for peaceful purposes. Standing guard
              over the world order of the United States invites an exotic dictator
              to a UN meeting, where he gladly arrives. But it turns out that he
              was afraid of America in vain, since the war takes place behind his
              back, and he is assigned the role of the victim.
            </p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\app\5.png" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $25
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Vk</h4>
            <p class="card-text">
              Tony and Paul are best friends and one day they bet.
              With it, they want to check which of them can live without all
              things for 100 days. According to the established conditions,
              on the next day, men have the right to take one item. During
              the "exam" they understand that the main thing in life is their
              friendship. Heroes pass the real test from the point of view
              of materialism and are in search of really important things.
            </p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\app\3.png" alt="" class="card-img-top">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $20
              <small class="text-muted">/ mo</small>
            </h1>
            <h4 class="card-title">Better Me</h4>
            <p class="card-text">
              Maleficent 2 - the long-awaited continuation
              of the story of the blonde princess Aurora and
              the dark-horned sorceress Maleficent, which life
              made to become such. Initially, the picture was
              set based on a completely revised story of the
              old cartoon of the Walt Disney studio Sleeping Beauty.
              The continuation develops a difficult relationship between
              the two heroines, but now a new female character is added to
              the story - Queen Ingrid.
            </p>
            <a href="#" class="btn btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
