<div class="container">
  <form>
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>

    <label for="inputName" class="sr-only">Name</label>
    <input id="inputName" class="form-control" placeholder="Name" #nameField="ngModel"
           required autofocus [(ngModel)]="name" name="name">
    <div [hidden]="nameField.valid || nameField.untouched" class="alert alert-danger">
      Missing Name
    </div>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="example@email.com" #emailField="ngModel"
           required [(ngModel)]="eMail" name="eMail" pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}">
    <div [hidden]="emailField.valid || emailField.untouched" class="alert alert-danger">
      Incorrect Email
    </div>

    <label for="inputLink" class="sr-only">Link of site</label>
    <input id="inputLink" class="form-control" placeholder="example.com" #linkField="ngModel"
           required [(ngModel)]="linkOfSite" name="linkOfSite"
           pattern="[a-zA-Z_]+.+[a-zA-Z]">
    <div [hidden]="linkField.valid || linkField.untouched" class="alert alert-danger">
      Incorrect Link of site
    </div>

    <label for="inputPhone" class="sr-only">Phone</label>
    <input id="inputPhone" class="form-control" placeholder="+3754455677890" #phoneField="ngModel"
           required [(ngModel)]="phone" name="phone" pattern="[+0-9]{13}">
    <div [hidden]="phoneField.valid || phoneField.untouched" class="alert alert-danger">
      Incorrect Phone
    </div>


    <label for="inputLogin" class="sr-only">Login</label>
    <input id="inputLogin" class="form-control" placeholder="Login" #loginField="ngModel"
           required [(ngModel)]="login" name="logg">
    <div [hidden]="loginField.valid || loginField.untouched" class="alert alert-danger">
      Incorrect Login
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" #passwordField="ngModel"
           required [(ngModel)]="password" name="pass">
    <div [hidden]="passwordField.valid || passwordField.untouched" class="alert alert-danger">
      Missing Password
    </div>

    <button
      [disabled]="!nameField.valid || !phoneField.valid || !emailField.valid || !passwordField.valid || !loginField.valid || !linkField.valid"
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      (click)="saveAll(information)"
      routerLink="/">
      Save
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
  </form>
</div>

<app-footer></app-footer>
